#tovar {display: block;}
a:hover {cursor: pointer;}
.rowsect, .opys {display: none;}
.elem {
display: block;
    float: left;
    width: 335px;
    border: 2px solid rgb(110, 52, 247);
border-radius: 5px;
    margin: 10px;
padding: 15px;
    }
img {
display: block;
    margin: auto;
    }
    input {
    display: inline;
margin-left: 85%;
    }
    .nazva {
color: #669AE1;
text-decoration: underline;
font-size: 20px;
}
.categorie {
color: #B3B8C0;
font-size: small;
}
.price {
color: red;
font-weight: bold;
font-size: 25px;
}
.elem:hover .opys{
    display: block;
}
#basket {
display: none;
position: fixed;
top:0;
left:0;
width: 100vw;
height: 100vh;
}
#basket a{
float: right;
margin: 5px 20px;
}
#basket img {
position: fixed;
top: 250px;
left: 500px;
width: 500px;
height: 300px;
}
#basket:target, #caulator:target {
display: block;
border: 2px solid #D4D4D4;
background-color: rgba(229, 238, 204, 0.7);
}
